/*
api: custom admonition/details
  remove icon,
  modify padding-left,
  modify color 
*/
.md-typeset .admonition.api,
.md-typeset details.api {
  border-color: rgb(160, 82, 45);
}
.md-typeset .api > .admonition-title,
.md-typeset .api > summary {
  background-color: rgba(160, 82, 45, 0.1);
  padding-left: 0.6rem;/* default 2rem*/
}
.md-typeset .api > .admonition-title::before,
.md-typeset .api > summary::before {
  content: none;
}

.md-typeset .api > .admonition-title > span {
  color: var(--md-primary-fg-color);
}

/*
custom definition list stylesheet with border font-weight
*/
dl > dt {
  font-weight: bolder;
}
